{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
      href="{% static 'freeats/css/bootstrap-3.3.5/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
      href="{% static 'freeats/css/style.css' %}" />
    <link rel="stylesheet" type="text/css"
      href="{% static 'freeats/css/responsive-style.css' %}" />
    <script type="text/javascript" data-main="{% static 'freeats/js/main.js' %}"
      src="{% static 'freeats/js/lib/require-2.1.20.min.js' %}"></script>
    <base href="/">
  </head>
  <body ng-class="{homeView: $root.currentView=='home'}">
    <div class="map"></div>
    <div ng-view></div>
  </body>
</html>
