<div class="my-posts-header">
  <img src="/static/freeats/logo_side.png">
</div>
<div class="my-posts-content">
  <p>
    <a href="/" class="btn btn-default">
      <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
      Find food
    </a>
    <button class="btn btn-primary" ng-click="createPost()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      New post
    </button>
  </p>
  <div class="box">
    <h1>Review Posts</h1>
    <div ng-show="posts.length == 0" class="alert alert-info" role="alert">
      <p>
        There aren't any posts yet.
      </p>
    </div>
    <table class="table">
      <tbody>
        <tr class="post" ng-repeat="post in posts">
          <td>
            <h4 class="truncate">
              {{post.title}}<!--
              --><span ng-show="post.description.length"> - </span><!--
              --><span class="desc">{{post.description}}</span>
            </h4>
          </td>
          <td>
            <button class="btn btn-default" ng-click="finishPost(post.id)"
                ng-class="{'btn-success': post.finished}">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Finished
            </button>
            <button class="btn btn-default" ng-click="editPost(post.id)">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              Edit
            </button>
            <button class="btn btn-danger" ng-click="deletePost(post.id)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="top-right">
  <div class="dropdown" ng-show="$root.loggedIn">
    <img class="profile-icon" ng-src="https://graph.facebook.com/v2.5/{{$root.fbUserId}}/picture"
          id="userDropdown" data-toggle="dropdown">
    <ul class="dropdown-menu pull-right" aria-labelledby="userDropdown">
      <li><a href="/me">My Posts</a></li>
      <li ng-show="$root.admin_status">
        <a href="/admin">
          Review Posts
          <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>
        </a>
      </li>
      <li><a href="" ng-click="$root.logoutFacebook()">Logout</a></li>
    </ul>
  </div>
  <div class="facebook-login" ng-show="!$root.loggedIn">
    <button class="btn btn-facebook" ng-click="$root.loginFacebook()">
      <img src="https://www.facebookbrand.com/img/assets/asset.f.logo.lg.png">
      Log in with Facebook
    </button>
  </div>
</div>

<div id="newPostModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create Post</h4>
      </div>
      <form class="form-horizontal" role="form" ng-submit="submitPost()">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-3" for="title">Title:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="title" ng-model="newPost.title">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="location">Location:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="location" ng-model="newPost.location">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="description">Description:</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="5" id="description"
                ng-model="newPost.description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="image-upload">Upload Image:</label>
            <div class="col-sm-9">
              <input type="file" id="image-upload" ng-model="newPost.image">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">
              Close
          </button>
          <input type="submit" value="Submit post" class="btn btn-primary pull-right" />
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="editPostModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Post</h4>
      </div>
      <form class="form-horizontal" role="form" ng-submit="updatePost()">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-3" for="title">Title:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="title" ng-model="post.title">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="location">Location:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="location" ng-model="post.location">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="description">Description:</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="5" id="description"
                ng-model="post.description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="image-upload">Upload Image:</label>
            <div class="col-sm-9">
              <input type="file" id="image-upload" ng-model="post.image">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">
              Close
          </button>
          <input type="submit" value="Save post" class="btn btn-primary pull-right" />
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->