html, body {
    margin: 0;
}
body {
    font-family: Arial;
    background-color: #D8E3E3;
}
.middle {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.left {
    position: fixed;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
}
.right {
    position: fixed;
    top: 0;
    right: 0;
    width: 67%;
    height: 100%;
}
.panel {
    border-bottom: 1px solid black;
    padding: 0.5em;
}
.indent {
    padding: 0.5em;
}
h1 {
    margin: 0;
}
input[type="text"] {
    width: calc(100% - 6px);
    font-family: Arial;
    border: 1px solid #666;
    border-radius: 3px;
    padding: 5px 3px;
    background-color: rgba(0, 0, 100, 0.05);
}
.item {
    border-bottom: 1px solid #CCC;
    padding: 0.5em;
    height: calc(4em + 3px);
    /*margin-bottom: 1em;
    box-shadow: 10px 10px 5px #888;*/
}
.letter {
    float: left;
    border: 1px dashed black;
    width: 3em;
    height: 3em;
    text-align: center;
    font-weight: bold;
}
.title {
    float: left;
    border: 1px solid black;
    border-left: none;
    width: calc(100% - 3.5em - 3px);
    height: 1.5em;
    padding-left: 0.5em;
}
.location {
    float: left;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    width: calc(100% - 3.5em - 3px);
    height: 1.5em;
    padding-left: 0.5em;
    margin-top: -1px;
}
.bar {
    display: inline-block;
    float: left;
    margin-top: 0.5em;
    height: 3px;
    width: 50%;
    //border: 1px solid;
}
.green {
    display: inline-block;
    background-color: #33CC33;
    height: 100%;
}
.red {
    display: inline-block;
    background-color: #E60000;
    height: 100%;
    margin-left: -4px;
}